.header-information {
  display: flex;
  justify-content: space-between;
  color: rgb(214, 14, 144);
}
.current-month-and-year {
  display: flex;
  margin-left: 14px;
}
.current-month-and-year .month {
  margin-right: 10px;
  font-weight: bold;
  font-weight: 500;
}
.current-day-today {
  display: flex;
  margin-right: 14px;
  font-weight: 500;
}
.current-day-today p {
  margin-right: 5px;
  font-weight: bold;
  font-weight: 500;
}
.days-of-week .days {
  display: flex;
  justify-content: space-between;
  margin: 1px 14px 1px 14px;
  color: rgb(214, 14, 144);
  font-family: inherit;
  font-weight: bold;
  font-weight: 550;
}
.arrow-left{
  margin-right: 10px;
  cursor: pointer;
}
.arrow-right{
  margin-left: 10px;
  cursor: pointer;
}