.days-of-week .days-wrapper {
  width: 100%;
  text-align: right;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
}

.days-of-week .days-wrapper {
  color: #585a58;
}
.days-of-week .days-wrapper .day {
  width: calc(100% / 7);
}

.days-of-week .days-wrapper .day p {
  margin-right: 15px;
}
